<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http pattern="../webapp/pages/login.html" security="none"/>
    <security:http pattern="./login_error.html" security="none"/>
    <!--页面拦截规则-->
    <security:http>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"></security:intercept-url>
        <security:form-login default-target-url="/pages/login.html"/>
        <security:logout/>
        <security:csrf disabled="true"></security:csrf>
    </security:http>

    <!--认证管理器-->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailService">
            <security:password-encoder ref="bCryptPasswordEncoder"></security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="userDetailService" class="mindrot.jbcrypt.UserDetailServiceImpl"></bean>
    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></bean>
</beans>
