<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${dubbo.application}"></dubbo:application>
    <dubbo:protocol name="dubbo" port="${dubbo.port}"></dubbo:protocol>
    <dubbo:registry protocol="zookeeper" address="${zk.address}"></dubbo:registry>
    <dubbo:annotation package="com.lz.service.impl"></dubbo:annotation>
    <dubbo:provider timeout="10000" threadpool="fixed" accepts="1000"></dubbo:provider>
</beans>